@include keyframes(fadeIn) {
	from {
		opacity: 0;
		@include transform(translateY(-1em));
	}
	to {
		opacity: 1;
		@include transform(translateY(0));
	}
}

@include mq-tablet  { 

#content {

	#titles,
	form {
		opacity: 0;
		@include animation(fadeIn 1 ease);
		@include animation-fill-mode(forwards);
	}

	#titles {
		@include animation-delay(6s);
		@include animation-duration(1.8s);
	}

	form {
		@include animation-delay(6.4s);
		@include animation-duration(1.6s);
	}
}

#socmedicons {
	opacity: 0;
	@include animation(fadeIn 1 ease);
	@include animation-delay(6.4s);
	@include animation-fill-mode(forwards);
	@include animation-duration(1.8s);
}

}