html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	color: #333;
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow: hidden;
}

/* Background video */
#video-wrapper video {
	background-color: #fff;
	background-image: url("../assets/images/designo_teaser.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	left: 50%;
	min-height: 100%;
	min-width: 100%;
	position: fixed;
	top: 50%;
	width: auto;
	z-index: -100;
	@include transform(translate(-50%, -50%));
}

#overlay {
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	top: 0;
	left: 0;
}

/* Content */
#content {
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 90%;
	@include transform(translate(-50%, -80%));
}

#content h1 {
	font-size: 2.6em;
	font-weight: 800;
	margin: 0;

	@include mq-tablet  { font-size: 3.6em; }
	@include mq-netbook { font-size: 4.6em; }
	@include mq-desktop { font-size: 5.6em; }
}

#content h2 {
	font-size: 1.1em;

	@include mq-tablet  { font-size: 1.4em; }
	@include mq-netbook { font-size: 1.8em; }
	@include mq-desktop { font-size: 2.2em; }
}

/* Mailchimp form */
form {
	margin-top: 4em;
	text-align: center;

	p {
		color: #444;
		font-size: 0.9em;

		@include mq-tablet  { font-size: 1em; }
	}

	input {
		border-radius: 3px;
		border-style: solid;
		border-width: 1px;
		display: block;
		font-size: 0.9em;
		padding: 0.5em 1em;
		width: 100%;
		margin-top: 0.5em;
		margin-left: auto;
		margin-right: auto;
		max-width: 400px;

		@include mq-tablet  { 
			font-size: 1em;
			display: inline-block;
			width: auto;
			}
	}

	input:focus {
		outline: 0;
	}

	input[type="email"] {
		border-color: #ddd;
		@include mq-tablet {
			width: 350px;
		}
	}

	input[type="submit"] {
		background-color: #ff5649;
		border-color: darken(#ff5649, 3%);
		color: #fff;
		padding: 0.5em 2.2em;
	}

	input[type="submit"]:hover {
		background-color: #e63e31;
	}
}