body {
	color: #333;
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow: hidden;
}

/* Background video */
#video-wrapper video {
	background-color: #fff;
	background-image: url("../assets/images/designo_teaser.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	left: 50%;
	min-height: 100%;
	min-width: 100%;
	position: fixed;
	top: 50%;
	width: auto;
	z-index: -100;
	@include transform(translate(-50%, -50%));
}

#overlay {
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	top: 0;
	left: 0;
}

/* Content */
#content {
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	@include transform(translate(-50%, -80%));
}

#content h1 {
	font-size: 4em;
	font-weight: 800;
	margin: 0;
}

/* Mailchimp form */
form {
	margin-top: 4em;

	p {
		color: #444;
		font-size: 0.9em;
	}

	input {
		border-radius: 3px;
		border-style: solid;
		border-width: 1px;
		font-size: 1em;
		padding: 0.5em 1em;
	}

	input:focus {
		outline: 0;
	}

	input[type="email"] {
		border-color: #ddd;
	}

	input[type="submit"] {
		background-color: #ff5649;
		border-color: darken(#ff5649, 3%);
		color: #fff;
	}

	input[type="submit"]:hover {
		background-color: #e63e31;
	}
}