html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	color: #333;
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow: hidden;
}

/* Background video */
#video-wrapper {
	background-color: #ccc;
	background-image: url("../assets/images/mobile_bg.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -200;
}

#video-wrapper video {
	display: none;

	@include mq-tablet  { 
		background-color: #fff;
		background-image: url("../assets/images/poster.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		height: auto;
		left: 50%;
		min-height: 100%;
		min-width: 100%;
		position: fixed;
		top: 50%;
		width: auto;
		z-index: -100;
		@include transform(translate(-50%, -50%));
		display: block;
	}
}

#overlay {
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	top: 0;
	left: 0;
	@include linear-gradient(rgba(255, 255, 255, 0.1) 0px, rgb(255, 255, 255) 100%);
}

/* Content */
#content {
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 90%;
	@include transform(translate(-50%, -80%));
}

#content h1 {
	font-size: 2.6em;
	font-weight: 800;
	margin: 0;

	@include mq-tablet  { font-size: 3.6em; }
	@include mq-netbook { font-size: 4.6em; }
	@include mq-desktop { font-size: 5.6em; }
}

#content h2 {
	font-size: 1.1em;

	@include mq-tablet  { font-size: 1.4em; }
	@include mq-netbook { font-size: 1.8em; }
	@include mq-desktop { font-size: 2.2em; }
}

/* Social Media */
#socmedicons {
	position: absolute;
	bottom: 10px;
	margin: 0 auto;
	width: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	li {
		background-repeat: no-repeat;
		display: inline-block;
		margin-left: 10px;
	}

	a {
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
		height: 30px;
		width: 30px;
		text-indent: -9999px;
		color: red;
		border-radius: 3px;
		opacity: 0.5;
	}

	a:hover {
		opacity: 1;
		@include transition (opacity 0.8s);
	}

	#fb a { background-image: url("../assets/images/icon-fb.png"); }
	#tw a { background-image: url("../assets/images/icon-tw.png"); }
	#li a { background-image: url("../assets/images/icon-li.png"); }
	#gp a { background-image: url("../assets/images/icon-gp.png"); }
	#ig a { background-image: url("../assets/images/icon-ig.png"); }
}

/* Mailchimp form */
form {
	margin-top: 4em;
	text-align: center;

	p {
		color: #444;
		font-size: 0.9em;

		@include mq-tablet  { font-size: 1em; }
	}

	input {
		border-radius: 3px;
		border-style: solid;
		border-width: 1px;
		display: block;
		font-size: 0.9em;
		padding: 0.5em 1em;
		width: 100%;
		margin-top: 0.5em;
		margin-left: auto;
		margin-right: auto;
		max-width: 400px;

		@include mq-tablet  { 
			font-size: 1em;
			display: inline-block;
			width: auto;
			}
	}

	input:focus {
		outline:none;
    	border-color:#9ecaed;
    	box-shadow:0 0 1px #2980b9;
	}

	input[type="email"] {
		border-color: #ddd;
		@include mq-tablet {
			width: 350px;
		}
	}

	input[type="submit"] {
		background-color: #ff5649;
		border-color: darken(#ff5649, 3%);
		color: #fff;
		padding: 0.5em 2.2em;
	}

	input[type="submit"]:hover {
		background-color: #e63e31;
		border-color: darken(#ff5649, 3%);
	}
}